:host {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-area: auto;
  color: white;
}
header{
  //background-color: rgba(255, 0, 0, 0.1);
  height: 10vh;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  gap: 3vh;
  align-items: center;
}

main {
  background-color: rgba(0, 255, 0, 0.1);
  height: 82vh;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(0, 0, 255, 0.1);
  height: 8vh;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  align-items: center;
}

.header-logo {
  height: 5vh;
}

.start-btn{
  background-color: white;
  color: black;
  padding: 0.5em;
  font-size: 2em;
  border-radius: 0.5em;
  cursor: pointer;
}
